$brandRedColor: #c7839e;
$brandRedAlternateColor: lighten(saturate($brandRedColor, 60%), 30%);

$brandBlueColor: #5a1d37;
$brandBlueAlternateColor: lighten(saturate($brandBlueColor, 60%), 60%);

$backgroundColor: #bfbfbf;
$textColor: #333;