@model Bloggares.Common.Entities.AuthorizedUser

<h2>You have been logged in</h2>
<table>
	<tbody>
		<tr>
			<th>Username</th>
			<td>@Model.Username</td>
		</tr>
		<tr>
			<th>Access level</th>
			<td>@Model.AccessLevel</td>
		</tr>
	</tbody>
</table>