@using (Html.BeginForm("Execute", "Authentication"))
{
	<input type="text" placeholder="Username" name="username" />
	<input type="password" placeholder="Password" name="password" />

	<button>Let me in!</button>
}